[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/


# Files i used for levels
# Sci-fi Interor for bedroom level: https://assetstore.unity.com/packages/3d/environments/sci-fi/sci-fi-interior-pack-68130

# Uncomment this line if you wish to ignore the asset store tools plugin
# Unity-Logs-Viewer might cause trouble for the beginwindow not called
# Remove AnimationConverter its crap and AnimationConverterExamples

# I use DeepSpace asset for my game
# I added ooti Messanger for sickscore
# thats why its committed

# [Aa]ssets/AssetStoreTools*

FantasyIconsMegaPack/

Bat Particles/
Demigiant/
Doozy/
DynamicBone/
EnhancedScroller v2/
Fighter Pack Bundle/
Gizmos/
Heavy Station Kit/
Invector-3rdPersonController/
Invector-AIController/
KriptoFX/
Low Poly Planet Environment/
nTools/
ootii/
OrdosFX/
PIDI Game Development Framework/
Plugins
PostProcessing/
Resources
Sci-Fi Corridor/
Suriyun/
TextMesh Pro/
TurnTheGameOn/
UMotionEditor/
_TerrainAutoUpgrade/
BloodDecalsAndEffects/
FImpossible Games/
MegaWire/
JsonDotNet/
Liquid Particle Systems/
Standard Assets/
Sparkling_Pixie_Dust/
SilhouetteRadarShader/
EditorDefaultResources/
FPSMeshTool/
CBG/
Unity-Logs-Viewer/
smartcopier/
Newtonsoft.Json.12.0.2/
AnimationConverter/
AnimationConverterExamples/
Devdog/
ManyWorlds/
Mega-Fiers/
Popping_Champagne_FX/
DeepSpace/
AdvancedPlayerPrefsWindow/
ColorPicker/
Medieval Mega Pack/
Easy Save 2/
RealToon/
BillBoared/
Dark City 2/
City_Level/
Dark City/
Epic Toon FX/
HighlightPlus/
PostApo/
polyperfect/
beffio/
Obi/
Sci-fi/
CLazyRunnerActionAnimPack/
Camera Filter Pack/
Camera Path 3 Examples/
CameraPath3/
FightingAnimsetPro/
Trails FX/
AlmostEngine/
JMO Assets/
# ^ for cartoon effects
Sci-Fi Interior Pack/ 
# ^ for my bedroom level
Zone UI/ 
# ^ for my UI
FPCameraAddon/
# ^ for fps cam
Editor Default Resources/
# ^ not really sure
BASE_CHARACTERS/
# i cant upload my big files
Cinemachine/
Samples/
com.unity.textmeshpro@2.0.1/
JacobGames/
Sample Scenes/
UnityChan/
_PoiyomiShaders/
Toon/
# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Crashlytics generated file
crashlytics-build.properties
TPS_cache/